#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #dfe4e1;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-box select,
.modal-box input {
  padding: 10px;
  font-size: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-large {
  background: #f4f4f4;
  padding: 30px;
  border-radius: 20px;
  width: 600px;
}

.subject-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.added-subjects {
  margin-top: 20px;
  background: #ddd;
  padding: 10px;
}

.subject-item {
  padding: 5px;
}